*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ----fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*---------- common styles---------- */
body{
    font-family: 'Poppins', sans-serif;
    

}
.banner-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color:  #161616;
    color: white;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 140px;
    margin-right: 140px;
    
}
.container{
    display: flex;
}
.banner-left{
    text-align:left;
    width: 531px;
    height: 424px;
    margin-left:106px;
    margin-top: 110px;
}
.banner-title{
    font-size: 70px;
    font-weight: 700px;
    margin: 15px;
    
}
.banner-text{
    font-weight: 400px;
    font-size: 18px;
    margin: 15px;
}
.banner-btn{
    padding: 15px 30px;
    margin: 15px;
    background-color: red;
    font-size: 19px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}
.banner-img{
    margin-right: 100px;
    margin-left: 24px;
}

.single-blogs{
    display:flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    left: 40px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
    margin-top: 50px;
    padding: 90px;
    margin-left: 140px;
}
/*----- single blogs btn----- */
.button{
    font-size: 20px;
    border-radius: 10px;
    width: 180px;
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 20px;
}
.button-1{
    font-size: 20px;
    border-radius: 10px;
    width: 180px;
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.button-2{
    font-size: 20px;
    border-radius: 10px;
    width: 180px;
    height: 80px;
    background-color: #DD0000;
    text-align: center;
    margin-top: 20px;
}
/* ----match banner styles---- */
.match-banner img{
    width: 312px;
    height: 175px

}
.transfer-button{
    width: 100px;
    height: 32px;
    margin-left: 17px;
    margin-top: 20px;
}
.match-detail{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 20px;
    margin-top: 15px;
}
.match-duration{
    display: flex;
    text-align:inherit;
    width: 143px;
    height: 26px;
    margin-top: 20px;
    margin-left: 20px;
}